/* Unvisited */
a:link{
    color: black;
    background-color: yellow;
}

/* Visited */
a:visited{
    color: pink;
    background-color: black;
}

/* Hover */
a:hover{
    color: white;
    background-color: tomato;
}

/* Active */
a:active{
    color: blue;
    background-color: darkred;
}